@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

.available {
    text-align: center;
    color: #fff;
    background-color: #02b675;
    padding-top: 9px;
    height: 40px;
    font: normal 18px/25px 'Istok Web', sans-serif;
}
.available a {
    color: #fff;
}
.available a:hover {
    color: #fff;
    text-decoration: none;
}
.social-links-header {
    background: #fafafa;
    border-bottom: 0px solid #d7d7d7;
}
.social-links-header .social-links {
    float: right;
    display: block;
    margin: 10px 15px 0 0;

}
.social-links-header .social-links li {
  display: block;
  float: left;
  width: auto;
}
.social-links-header .social-links li {
    maring-right: 0;
}
.social-links li a {
  width: 55px;
  height: 55px;
  line-height: 54px;
  color: white;
  border: none;
  border-radius: 0%;
  display: inline-block;
  text-align: center;
  font-size: 24px;
}


.social-links li.linkedin a {
  background: #0079b8;
}
.social-links li.linkedin a:hover {
  background: #00476c;
}
.social-links li.wnw a {
  background: #02b675;
}
.social-links li.wnw a:hover {
  background: #01774c;
}
.social-links li.dribbble a {
  background: #ea4c89;
}
.social-links li.dribbble a:hover {
  background: #c32361;
}
.social-links li.twitter a {
  background: #4096cb;
}
.social-links li.twitter a:hover {
  background: #296c96;
}
.social-links li.email a,
.social-links li.home a {
  background: #464e54;
}
.social-links li.email a:hover,
.social-links li.home a:hover {
  background: #23272a;
}
.social-links li.tumblr a {
  background: #2c4762;
}
.social-links li.tumblr a:hover {
  background: #232d3f;
}
.social-links li.github a {
  background: #333333;
}
.social-links li.github a:hover {
  background: #000000;
}

header h1 {
  color: #464e54;
  font: normal 28px/38px 'Istok Web', sans-serif;
  font-family: 'Istok Web', sans-serif;
  margin: 0 0 0 0;
}
header h2 {
  color: #464e54;
  font: normal 18px/24px 'Istok Web', sans-serif;
  font-family: 'Istok Web', sans-serif;
  margin: 10px 0 0 0;
}
header h3 {
  color: #464e54;
  font: normal 22px/28px 'Istok Web', sans-serif;
  font-family: 'Istok Web', sans-serif;
  margin: 10px 0 0 0;
}
header .intro {
    margin-top: 150px;
    margin-bottom: 250px;
}

section.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
section.all-projects {
    background-color: #464e54;
    padding-bottom: 60px;
}
.all-projects-offset {
    margin-top: -50px;
}

.all-projects h2 {
    color: #ffffff;
}
.all-projects h3 {
  color: #ffffff;
  font: normal 20px/26px 'Istok Web', sans-serif;
  font-family: 'Istok Web', sans-serif;
  margin: 10px 0 10px 0;
}

.proj-name {
    color: white;
    font: 700 28px/30px 'Istok Web', sans-serif;
    font-family: 'Istok Web', sans-serif;
    text-align: left;
    position: relative;
    text-transform: uppercase;
    margin-top: 20px;
    padding-left: 0px;
}
.proj-explainer {
    color: white;
    font: 400 24px/28px 'Istok Web', sans-serif;
    font-family: 'Istok Web', sans-serif;
    text-align: left;
    position: relative;
    margin-top: 5px;
    padding-left: 0px;
    max-width: 90%;
}
.proj-buttons {
    padding-left: 0px;
    margin-top: 20px;
}
.proj-buttons .btn-default {
    background-image: none;
    border-radius: 2px;
    background-color: #ef3932;
    color: #ffffff;
    text-shadow: none;
    border: none;
    font: 400 16px/16px 'Istok Web', sans-serif;
    text-transform: uppercase;
    padding: 6px 20px;
    border-bottom: 2px solid #c9241d;
}
.proj-buttons .btn-default:hover {
    background-color: #c9241d;
    color: #ffffff;
    border-bottom: 2px solid #c9241d;
}

.proj-more-info {
    padding-left: 0px;
    margin-top: 40px;
}
.tag-proj .btn-default {
    background-image: none;
    border-radius: 2px;
    background-color: #ef3932;
    color: #ffffff;
    text-shadow: none;
    border: none;
    font: 400 16px/16px 'Istok Web', sans-serif;
    text-transform: uppercase;
    padding: 6px 20px;
    margin-bottom: 0px;
    border-bottom: 2px solid #c9241d;
}
.tag-proj .btn-default:hover {
    background-color: #c9241d;
    color: #ffffff;
    border-bottom: 2px solid #c9241d;
}
.proj-content p {
    color: #ffffff;
    line-height: 30px;
}
/*.proj-small {
    margin-bottom: 60px;
}*/
.tag-proj {
    margin-bottom: 60px;
}
.proj-old {
    margin-bottom: 60px;
}
/* ---------------------------------------------------------SECTION PAST-WORK */
.past-work {
    background-color: #535e66;
    padding: 60px 0 0 0;
}
.past-work h1 {
    color: #ffffff;
    font: normal 38px/40px 'Istok Web', sans-serif;
}
.past-work h2 {
    color: #ffffff;
    font: normal 24px/30px 'Istok Web', sans-serif;
}
span#old-work-close {
    font-size: 30px;
    color: #ffffff;
    margin-top: -53px;
}
span#old-work-close:hover {
    color: #ef3932;
}
.past-work .proj-name {
    color: white;
    font: 700 24px/26px 'Istok Web', sans-serif;
    font-family: 'Istok Web', sans-serif;
    text-align: left;
    position: relative;
    text-transform: uppercase;
    margin-top: 20px;
    padding-left: 0px;
}
.past-work .proj-explainer {
    color: white;
    font: 400 18px/24px 'Istok Web', sans-serif;
    font-family: 'Istok Web', sans-serif;
    text-align: left;
    position: relative;
    margin-top: 5px;
    padding-left: 0px;
    max-width: 90%;
}

/* ---------------------------------------------------------CAROUSEL CSS */
#tagasauris .carousel-indicators li {
    width: 6px;
    height: 6px;
    background-color: rgba(255,255,255,0.3);
    border: 0px solid #fff;
}
#tagasauris .carousel-indicators .active {
    width: 6px;
    height: 6px;
    margin: 1px;
    background-color: rgba(255,255,255,1);
}
#tagasauris .carousel-control.right {
    background-image: none;
}
#tagasauris .carousel-control.left {
    background-image: none;
}

#imagebrief .carousel-indicators li {
    width: 6px;
    height: 6px;
    background-color: rgba(255,255,255,0.3);
    border: 0px solid #fff;
}
#imagebrief .carousel-indicators .active {
    width: 6px;
    height: 6px;
    margin: 1px;
    background-color: rgba(255,255,255,1);
}
#imagebrief .carousel-control.right {
    background-image: none;
}
#imagebrief .carousel-control.left {
    background-image: none;
}

#moma .carousel-indicators li {
    width: 6px;
    height: 6px;
    background-color: rgba(255,255,255,0.3);
    border: 0px solid #fff;
}
#moma .carousel-indicators .active {
    width: 6px;
    height: 6px;
    margin: 1px;
    background-color: rgba(255,255,255,1);
}
#moma .carousel-control.right {
    background-image: none;
}
#moma .carousel-control.left {
    background-image: none;
}

#dni .carousel-indicators li {
    width: 6px;
    height: 6px;
    background-color: rgba(255,255,255,0.3);
    border: 0px solid #fff;
}
#dni .carousel-indicators .active {
    width: 6px;
    height: 6px;
    margin: 1px;
    background-color: rgba(255,255,255,1);
}
#dni .carousel-control.right {
    background-image: none;
}
#dni .carousel-control.left {
    background-image: none;
}

#nom .carousel-indicators li {
    width: 6px;
    height: 6px;
    background-color: rgba(255,255,255,0.3);
    border: 0px solid #fff;
}
#nom .carousel-indicators .active {
    width: 6px;
    height: 6px;
    margin: 1px;
    background-color: rgba(255,255,255,1);
}
#nom .carousel-control.right {
    background-image: none;
}
#nom .carousel-control.left {
    background-image: none;
}

#iicd .carousel-indicators li {
    width: 6px;
    height: 6px;
    background-color: rgba(255,255,255,0.3);
    border: 0px solid #fff;
}
#iicd .carousel-indicators .active {
    width: 6px;
    height: 6px;
    margin: 1px;
    background-color: rgba(255,255,255,1);
}
#iicd .carousel-control.right {
    background-image: none;
}
#iicd .carousel-control.left {
    background-image: none;
}

#tlab .carousel-indicators li {
    width: 6px;
    height: 6px;
    background-color: rgba(255,255,255,0.3);
    border: 0px solid #fff;
}
#tlab .carousel-indicators .active {
    width: 6px;
    height: 6px;
    margin: 1px;
    background-color: rgba(255,255,255,1);
}
#tlab .carousel-control.right {
    background-image: none;
}
#tlab .carousel-control.left {
    background-image: none;
}

#hmplayer .carousel-indicators li {
    width: 6px;
    height: 6px;
    background-color: rgba(255,255,255,0.3);
    border: 0px solid #fff;
}
#hmplayer .carousel-indicators .active {
    width: 6px;
    height: 6px;
    margin: 1px;
    background-color: rgba(255,255,255,1);
}
#hmplayer .carousel-control.right {
    background-image: none;
}
#hmplayer .carousel-control.left {
    background-image: none;
}
/* ---------------------------------------------------------ABOUT SELF SECTION CSS */
section.about-self {
    background-color: #f9f9f9;
}
section.about-self .container {
    padding-bottom: 60px;
}
section.about-self .description-title {
    font: 700 24px/30px 'Istok Web', sans-serif;
    color: #464e54;
    margin: 60px 0 0px;
    padding: 0;
  }
  section.about-self .description-title a {
    font-style: italic;
  }
  section.about-self li {
    margin-bottom: 8px;
  }
  section.about-self li:before {
    top: 1em;
  }
  section h2 {
    color: #464e54;
    font: normal 28px/34px 'Istok Web', sans-serif;
    font-family: 'Istok Web', sans-serif;
    margin:	0 0 -10px 0;
  }
  section p {
    font: normal 16px/24px Helvetica, Arial, sans-serif;
    color: #464e54;
    max-width: 740px;
    }
  section p a {
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    color: #464e54;
    border-bottom: 1px solid #ef3932;
  }
  section p a:hover {
    background: #ef3932;
    color: white;
    padding: 2px 0 2px 0;
  }
  section p a.red-hover {
    padding-left: 2px;
    padding-right: 2px;
  }
  section p a.red-hover:hover {
    color: white;
    background: #ef3932;
  }

  section ul {
    font: normal 16px/24px Helvetica, Arial, sans-serif;
    color: #464e54;
    list-style: none;
    margin: 10px 0 0 -22px;
  }
  section ul a {
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    color: #464e54;
    border-bottom: 1px solid #ef3932;
  }
  section ul a:hover {
    background: #ef3932;
    color: white;
    padding: 2px 0 2px 0;
    text-decoration: none;
  }
  section ul a.red-hover {
    padding-left: 2px;
    padding-right: 2px;
  }
  section ul a.red-hover:hover {
    color: white;
    background: #ef3932;
  }

  section.about-self li:before {
       content: "";
       border-color: transparent #ef3932;
       border-style: solid;
       border-width: 0.35em 0 0.35em 0.45em;
       display: block;
       height: 0;
       width: 0;
       left: -1em;
      top: 0.9em;
      position: relative;
  }


/* ---------------------------------------------------------FOOTER CSS */
  footer {
    text-align: center;
    color: #464e54;
    font: normal 14px/34px 'Istok Web', sans-serif;
    font-family: 'Istok Web', sans-serif;
    margin: 50px 0 20px 0;
  }
  h3.footer-name {
    font: 700 26px/24px 'Istok Web', sans-serif;
    color: #464e54;
    margin-left: 16px;
  }
footer .social-links {
    margin: 20px 0 40px 0;
  }
  ul.social-links {
    padding: 0px 0 0 15px;
  }
  .social-links-footer .social-links li {
    display: inline;
    margin-right: -5px;
    width: auto;
  }


/* ---------------------------------------------------------PROJECT PAGE CSS */
.intro-project-page {
    margin-top: 138px;
    margin-bottom: 452px;
}
section.project-details {
    background-color: #464e54;
    padding-bottom: 0px;
    border-top: 0px solid #666666;
    border-bottom: 0px solid #666666;
}
.project-details-offset {
    margin-top: -100px;
    background-color: #f9f9f9;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 15px;
    padding-left: 15px;
}
.resume p {
    margin-bottom: -20px;
}
.resume ul {
    max-width: 600px;
}
.resume .project-details-offset {
    padding-top: 15px;
}
.resume .btn {
    border-radius: 0px;
    background-image: none;
    border-color: none;
    text-shadow: none;
    box-shadow: none;
    background-color: #ef3932;
    border-color: #ef3932;
    font-size: 14px;
}
.resume hr {
    border-top: 4px solid #eee;
}

/* ---------------------------------------------------------MEDIA QUERIES CSS */
@media (min-width: 768px) {
    .social-links-header .social-links {
        float: right;
        display: block;
        margin: 24px 15px;
    }
    header h1 {
      color: #464e54;
      font: normal 58px/60px 'Istok Web', sans-serif;
      font-family: 'Istok Web', sans-serif;
      margin: 0 0 0 0;
    }
    header h2 {
      color: #464e54;
      font: normal 24px/32px 'Istok Web', sans-serif;
      font-family: 'Istok Web', sans-serif;
      margin: 10px 0 0 0;
    }
    header h3 {
      color: #464e54;
      font: normal 30px/34px 'Istok Web', sans-serif;
      font-family: 'Istok Web', sans-serif;
      margin: 10px 0 0 0;
    }
    .intro {
        margin-top: 100px;
        margin-bottom: 300px;
    }
    .intro-project-page {
        margin-top: 208px;
        margin-bottom: 572px;
    }
    .proj-more-info {
        padding-left: 60px;
        margin-top: 40px;
    }
    .tag-proj .btn-default {
        margin-bottom: 20px;
    }
    .past-work h2 {
        font: normal 28px/34px 'Istok Web', sans-serif;
    }
}
